<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.livecircle"
    android:versionCode="23"
    android:versionName="0.8.3">
    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="35" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.codex.livecircle.uploader.permission.CONTROL" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:label="LiveCircle">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="YOUR_AMAP_ANDROID_KEY" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
